@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyBg {
  background-image: url("./assets/imgs/Line-bg.png"),
    url("./assets/imgs/Ellipse2.png"), url("./assets/imgs/Ellipse3.png");
  background-size: contain, 15%, 20%;
  background-position: top, top 10% left 0px, top right;
}

.bg-pattern {
  background-image: url("./assets/imgs/patter1.png");
  background-repeat: repeat;
  background-size: 50%;
}
